#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=python3 update
Comment=abre terminal com venv do python
Exec=bash -c '$SHELL --init-file <(echo "source ~/.bashrc ; source ~/py3VirtualEnv/bin/activate; pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U")'
Icon=python
Terminal=true
Type=Application
Categories=Application;
